useDynLib(loggle, .registration = TRUE)
importFrom(stats, sd)
importFrom(Matrix, Matrix)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach)
importFrom(foreach,"%dopar%")
importFrom(igraph, graph.adjacency)
importFrom(igraph, clusters)
importFrom(glasso, glasso)
importFrom(sm, sm.regression)
export(loggle)
export(loggle.cv)
export(loggle.cv.select)
export(loggle.cv.vote)
export(loggle.cv.h)
export(loggle.cv.select.h)
export(loggle.refit)