useDynLib(loggle)
import(stats, Matrix, doParallel, foreach, glasso, sm)
importFrom(igraph, graph.adjacency)
importFrom(igraph, clusters)
export(loggle, loggle.cv, loggle.cv.h, loggle.cv.select, loggle.cv.select.h, loggle.cv.vote, loggle.refit)